<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="/images/go-back-arrow.png" alt="" class="icon" onclick="history.back()">
        <a href="/index.html"><div class="list"><img src="/images/ece_logo_hd.jpg" alt="" class="icon" id="icon" ></div></a>
        <a href="/contact.html"><div class="list"><img src='/images/contact.png' class='icon' ></div></a>
    </nav>
    <main>
        <h2 class="subjectheading">ELECTRICAL DEVICES</h2>
        <div class="assignset" >
            <a href="" class="assign">
                <div class="assignname">
                    <h3>NONE</h3>
                </div>
            </a>
        </div>

         <h2 class="subjectheading">LINEAR ALGEBRA</h2>
         <div class="assignset" >
            <a href="https://drive.google.com/file/d/1MMu7VP51sRVHgqBOcwMSi89VkVcuNJju/view?usp=sharing" class="assign">
                <div class="assignname">
                    <h3>ASSIGNMENT-1</h3>
                </div>
            </a>
        </div>

         <h2 class="subjectheading">LINEAR NETWORK THEORY</h2>
        <div class="assignset" >
            <a href="" class="assign">
                <div class="assignname">
                    <h3>NONE</h3>
                </div>
            </a>
        </div>

         <h2 class="subjectheading">OBJECT ORIENTED PROGRAMMING</h2>
        <div class="assignset" >
            <a href="https://drive.google.com/file/d/12lPkJ8fi898RhUc_RZ9-n6RJV7Fk657L/view" class="assign">
                <div class="assignname">
                    <h3>ASSIGNMENT-1</h3>
                </div>
            </a>
            <a href="https://drive.google.com/file/d/1gIhGRjkNY4pHD4VIuseFba5pIBN2XNUF/view" class="assign">
                <div class="assignname">
                    <h3>ASSIGNMENT-2</h3>
                </div>
            </a>
            <a href="https://drive.google.com/file/d/1AlpShjejDXTivtFrnrmE_6J8XReRdzkz/view" class="assign">
                <div class="assignname">
                    <h3>ASSIGNMENT-3</h3>
                </div>
            </a>
            <div class="assignname">
                <ul><li>CREATE TIC TAK TOE GAME USING PYTHON</li></ul>
            </div>
        </div>

         <h2 class="subjectheading">SIGNALS AND SYSTEMS</h2>
         <a href="https://drive.google.com/file/d/1YvXUSzYErG6RxQL4Rl6p-WNAC3nhKl0n/view?usp=sharing" class="assign">
            <div class="assignname">
                <h3>ASSIGNMENT-1</h3>
            </div>
        </a>
        <a href="https://drive.google.com/file/d/1rB1jkbthAm1KvKiohnIE-516xx1txSSJ/view?usp=sharing" class="assign">
            <div class="assignname">
                <h3>ASSIGNMENT-2</h3>
            </div>
        </a>
    </main>
</body>
</html>