<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="/images/go-back-arrow.png" alt="" class="icon" onclick="history.back()">
        <a href="/index.html"><div class="list"><img src="/images/ece_logo_hd.jpg" alt="" class="icon" id="icon" ></div></a>
        <a href="/contact.html"><div class="list"><img src='/images/contact.png' class='icon' ></div></a>
    </nav>
    <main>
        <h2 class="subjectheading">ELECTRICAL DEVICES</h2>
        <div class="bookset" >
            <div class="bookBlock">
                <a href="https://drive.google.com/file/d/1TKJA5GPBKcb5uyeuV1XxfY42OINQC_ut/view?usp=sharing">
                    <img class="bookpng" src="https://th.bing.com/th/id/OIP.iybuS0kokghCWRA9H6sKVQAAAA?pid=ImgDet&rs=1" alt="">
                </a>
            </div>
            <div class="bookBlock">
                <a href="https://drive.google.com/file/d/1MRpMcoSYdNkl2NUTsq2UfGIG9xIHEinT/view?usp=sharing">
                    <img class="bookpng" src="https://th.bing.com/th/id/OIP.QIqcH0G04DPGYjuOqqSGIgAAAA?pid=ImgDet&rs=1" alt="">
                </a>
            </div>
        </div>

         <h2 class="subjectheading">LINEAR ALGEBRA</h2>
        <div class="bookset" >
            <div class="bookBlock">
                <a href="https://drive.google.com/file/d/1tA-KWPHtFnX-9odnIJokbS_DzgITka_8/view?usp=sharing">
                    <img class="bookpng" src="https://th.bing.com/th/id/OIP.iWowEDH9ZcpPQVmvg8vPogAAAA?pid=ImgDet&rs=1" alt="">
                </a>
            </div>
            <div class="subject">
                <a href="https://drive.google.com/file/d/1IRpCpTWoGVTD9zuctgJ6qJe83_Sq0qQi/view?usp=sharing">
                    <img class="bookpng" src="https://images-na.ssl-images-amazon.com/images/I/41hlrEjE0cL._SX258_BO1,204,203,200_.jpg" alt="">
                </a>
            </div>
            <!-- <div class="subject">
                <a href="https://drive.google.com/file/d/1xLMizeqkHP11fLlDG12moM0jjcaEZq73/view?usp=sharing">
                    <img class="bookpng" src="https://th.bing.com/th/id/OIP.Z4m0olj0xuwv5svdZkgZOAAAAA?pid=ImgDet&rs=1" alt="">
                </a>
            </div> -->
        </div>

         <h2 class="subjectheading">LINEAR NETWORK THEORY</h2>
        <div class="bookset" >
            <div class="bookBlock">
                <a href="https://drive.google.com/file/d/1IMFoAhJddErb1D7kQ2EiHOSStX5-fJml/view?usp=sharing">
                    <img class="bookpng" src="https://rukminim1.flixcart.com/image/704/704/book/6/0/4/circuits-and-networks-analysis-and-synthesis-original-imaebyduuerrxhrk.jpeg?q=70" alt="">
                </a>
            </div>
            <div class="subject">
                <a href="https://drive.google.com/file/d/1K6bqR03nlzyos5c8bM3BSH95BDSjRPj4/view?usp=sharing">
                    <img class="bookpng" src="https://rukminim1.flixcart.com/image/704/704/book/5/6/6/network-analysis-original-imadc8bur5bdndyj.jpeg?q=70" alt="">
                </a>
            </div>
        </div>

         <h2 class="subjectheading">OBJECT ORIENTED PROGRAMMING</h2>
        <div class="bookset" >
            <div class="bookBlock">
                <a href="https://drive.google.com/file/d/1avdmOVgivBSp9Mz_-aeCitCKGPuYY0Ft/view?usp=sharing">
                    <img class="bookpng" src="https://images-na.ssl-images-amazon.com/images/I/514aaabgzhL._SX258_BO1,204,203,200_.jpg" alt="">
                </a>
            </div>
            <div class="subject">
                <a href="https://drive.google.com/file/d/1MSVbgIKaug8odc914pWfitzySZJY9-zX/view?usp=sharing">
                    <img class="bookpng" src="https://covers.zlibcdn2.com/covers/books/f2/9a/48/f29a48cffb95e31f3a05d9fa68303f5f.jpg" alt="">
                </a>
            </div>
        </div>

         <h2 class="subjectheading">SIGNALS AND SYSTEMS</h2>
        <div class="bookset" >
            <div class="bookBlock">
                <a href="https://drive.google.com/file/d/1RspcVydn_KFDYuubgGGu9lIaERa10_fQ/view?usp=sharing">
                    <img class="bookpng" src="https://i2.wp.com/easyengineering.net/wp-content/uploads/2018/03/517NQ2TVYQL.jpg?resize=237%2C300" alt="">
                </a>
            </div>
            <div class="subject">
                <a href="https://drive.google.com/file/d/1Ba2TI723xcgr_SysuH_YUk91Pq1GDrTI/view?usp=sharing">
                    <img class="bookpng" src="https://i.ebayimg.com/images/g/tCAAAOSw2gxYnsNC/s-l400.jpg" alt="">
                </a>
            </div>
        </div>
    </main>
</body>
</html>