<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="/images/go-back-arrow.png" alt="" class="icon" onclick="history.back()">
        <a href="/index.html"><div class="list"><img src="/images/ece_logo_hd.jpg" alt="" class="icon" id="icon" ></div></a>
        <a href="/contact.html"><div class="list"><img src='/images/contact.png' class='icon' ></div></a>
    </nav>
    <main>
        <h2 class="subjectheading">ELECTRICAL DEVICES</h2>
        <div class="assignset" >
            <a href="https://drive.google.com/drive/folders/1fCros9feOLhbhkyTajlykSH8N2k4Utmy?usp=sharing" class="assign">
                <div class="assignname">
                    <h3>NOTES LINK</h3>
                </div>
            </a>
        </div>

         <h2 class="subjectheading">LINEAR ALGEBRA</h2>
         <div class="assignset" >
            <a href="https://drive.google.com/drive/folders/1rfdQfR8VICOMAWM-Ej9RUf4045vsze5H?usp=sharing" class="assign">
                <div class="assignname">
                    <h3>NOTES LINK</h3>
                </div>
            </a>
        </div>

         <h2 class="subjectheading">LINEAR NETWORK THEORY</h2>
         <div class="assignset" >
            <a href="" class="assign">
                <div class="assignname">
                    <h3>NOTES LINK</h3>
                </div>
            </a>
        </div>

         <h2 class="subjectheading">OBJECT ORIENTED PROGRAMMING</h2>
         <div class="assignset" >
            <a href="https://drive.google.com/drive/folders/12XjrFBb08KMXg6bHMILCZEQUmSP07pBk?usp=sharing" class="assign">
                <div class="assignname">
                    <h3>NOTES LINK</h3>
                </div>
            </a>
        </div>

         <h2 class="subjectheading">SIGNALS AND SYSTEMS</h2>
         <div class="assignset" >
            <a href="" class="assign">
                <div class="assignname">
                    <h3>NOTES LINK</h3>
                </div>
            </a>
        </div>
    </main>
</body>
</html>