<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <!-- <img src="/images/go-back-arrow.png" alt="" class="icon" onclick="history.back()">
        <img src="/images/go-back-arrow.png" alt="" class="icon" onclick="history.back()">
        <!-- <input type="button" value="goback" onclick="history.back()"> -->
        <a href="/index.html"><div class="list"><img src="/images/ece_logo_hd.jpg" alt="" class="icon" id="icon" ></div></a>
        <a href="/contact.html"><div class="list"><img src='/images/contact.png' class='icon' ></div></a>
    </nav>
    <main>
        <div class="slider">
            <div class="slide" id="slide-1">
            <div class="'day"><H2>MONDAY</H2></div>
            <div class="ttsub ttfree"><div class="time">8:00-9:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">9:00-10:00</div>
                <div class="namesub"><H3>LINEAR ALGEBRA</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">10:00-11:00</div>
                <div class="namesub"><H3>ELECTRONIC DEVICES</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">11:00-12:00</div>
                <div class="namesub"><H3>FREE</H3></div>
                </div>
            <div class="ttsub ttfree"><div class="time">12:00-01:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttlunch"><div class="time">01:00-02:00</div>
                <div class="namesub"><H3>LUNCH</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">02:00-03:00</div>
                <div class="namesub"><H3>ED TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">3:00-4:00</div>
                <div class="namesub"><H3>SNS TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">4:00-5:00</div>
                <div class="namesub"><H3>ALGEBRA TUT</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">5:00-6:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            </div>


            <div class="slide" id="slide-2">
                <div class="'day"><H2>TUESDAY</H2></div>
                <div class="ttsub ttfree"><div class="time">8:00-9:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
                <div class="ttsub ttsubsub"><div class="time">9:00-10:00</div>
                <div class="namesub"><H3>LINEAR ALGEBRA</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">10:00-11:00</div>
                <div class="namesub"><H3>OBJECT ORIENTED PROGRAMMING</H3></div>
            </div>
            <div class="ttsub ttsub"><div class="time">11:00-12:00</div>
            <div class="namesub"><H3>LINEAR NETWORK THEORY</H3></div>
            </div>
            <div class="ttsub ttsub"><div class="time">12:00-01:00</div>
                <div class="namesub"><H3>SIGNAL AND SYSTEM</H3></div>
            </div>
            <div class="ttsub ttlunch"><div class="time">01:00-02:00</div>
                <div class="namesub"><H3>LUNCH</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">02:00-03:00</div>
                <div class="namesub"><H3>ED TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">3:00-4:00</div>
                <div class="namesub"><H3>SNS TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">4:00-5:00</div>
                <div class="namesub"><H3>ALGEBRA TUT</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">5:00-6:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div></div>
            <div class="slide" id="slide-3"><div class="'day"><H2>WEDNESDAY</H2></div>
            <div class="ttsub ttfree"><div class="time">8:00-9:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">9:00-10:00</div>
                <div class="namesub"><H3>LINEAR ALGEBRA</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">10:00-11:00</div>
                <div class="namesub"><H3>ELECTRONIC DEVICES</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">11:00-12:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">12:00-01:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttlunch"><div class="time">01:00-02:00</div>
                <div class="namesub"><H3>LUNCH</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">02:00-03:00</div>
                <div class="namesub"><H3>ED TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">3:00-4:00</div>
                <div class="namesub"><H3>SNS TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">4:00-5:00</div>
                <div class="namesub"><H3>ALGEBRA TUT</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">5:00-6:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div></div>
            <div class="slide" id="slide-4"><div class="'day"><H2>THURSDAY</H2></div>
            <div class="ttsub ttfree"><div class="time">8:00-9:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">9:00-10:00</div>
                <div class="namesub"><H3>LINEAR ALGEBRA</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">10:00-11:00</div>
                <div class="namesub"><H3>ELECTRONIC DEVICES</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">11:00-12:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">12:00-01:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttlunch"><div class="time">01:00-02:00</div>
                <div class="namesub"><H3>LUNCH</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">02:00-03:00</div>
                <div class="namesub"><H3>ED TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">3:00-4:00</div>
                <div class="namesub"><H3>SNS TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">4:00-5:00</div>
                <div class="namesub"><H3>ALGEBRA TUT</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">5:00-6:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div></div>
            <div class="slide" id="slide-5"><div class="'day"><H2>FRIDAY</H2></div>
            <div class="ttsub ttfree"><div class="time">8:00-9:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">9:00-10:00</div>
                <div class="namesub"><H3>LINEAR ALGEBRA</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">10:00-11:00</div>
                <div class="namesub"><H3>ELECTRONIC DEVICES</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">11:00-12:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">12:00-01:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div>
            <div class="ttsub ttlunch"><div class="time">01:00-02:00</div>
                <div class="namesub"><H3>LUNCH</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">02:00-03:00</div>
                <div class="namesub"><H3>ED TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">3:00-4:00</div>
                <div class="namesub"><H3>SNS TUT</H3></div>
            </div>
            <div class="ttsub ttsubsub"><div class="time">4:00-5:00</div>
                <div class="namesub"><H3>ALGEBRA TUT</H3></div>
            </div>
            <div class="ttsub ttfree"><div class="time">5:00-6:00</div>
                <div class="namesub"><H3>FREE</H3></div>
            </div></div>
          </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>