<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="/images/go-back-arrow.png" alt="" class="icon" onclick="history.back()">
        <a href="/index.html"><div class="list"><img src="/images/ece_logo_hd.jpg" alt="" class="icon" id="icon" ></div></a>
        <a href="/contact.html"><div class="list"><img src='/images/contact.png' class='icon' ></div></a>
    </nav>
    <main>
        <a href="/components/academics/books.html"><div class='homeBlock'><img class='timepng' src="/images/academics/books.svg" /><div class='homedivtext'>BOOKS</div></div></a>
        <a href="/components/academics/assignments.html"><div class='homeBlock'><img class='timepng' src="/images/academics/assignments.svg" /><div class='homedivtext'>ASSIGNMENTS</div></div></a>
        <a href="/components/academics/notes.html"><div class='homeBlock'><img class='timepng' src="/images/academics/notes.svg" /><div class='homedivtext'>NOTES</div></div></a>
        <a href="https://drive.google.com/drive/folders/1CDAB8FAsAr_R7jna2prUNEjt2cMqbZsu?usp=sharing"><div class='homeBlock'><img class='timepng' src="/images/academics/Exams-bro.svg" /><div class='homedivtext'>PREVIOUS YEAR PAPER</div></div></a>
        <a href="https://www.youtube.com/channel/UCA1wnSwW8dvjpj4qSEUwrtA"><div class='homeBlock'><img class='timepng' src="/images/academics/Laboratory-pana.svg" /><div class='homedivtext'>EDC LAB VIDEOS</div></div></a>
    </main>
</body>
</html>