<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="/images/go-back-arrow.png" alt="" class="icon" onclick="history.back()">
        <a href="/index.html"><div class="list"><img src="/images/ece_logo_hd.jpg" alt="" class="icon" id="icon" ></div></a>
        <a href="/contact.html"><div class="list"><img src='/images/contact.png' class='icon' ></div></a>
    </nav>
    <main>
        <div class="twoset">
            <a href="/components/timetable/tta1.html"><div class='homeBlock-1'><img class='timepng-1' src="/images/timetable/section a 1.png" /></div></a>
            <a href="/components/timetable/tta2.html"><div class='homeBlock-1'><img class='timepng-1' src="/images/timetable/section a 2.png" /></div></a>
        </div>
        <div class="twoset">
            <a href="/components/timetable/tta3.html"><div class='homeBlock-1'><img class='timepng-1' src="/images/timetable/section a 3.png" /></div></a>
            <a href="/components/timetable/ttb3.html"><div class='homeBlock-1'><img class='timepng-1' src="/images/timetable/section b 3.png" /></div></a>
        </div>
        <div class="twoset">
            <a href="/components/timetable/ttb4.html"><div class='homeBlock-1'><img class='timepng-1' src="/images/timetable/section b 4.png" /></div></a>
            <a href="/components/timetable/ttb4.html"><div class='homeBlock-1'><img class='timepng-1' src="/images/timetable/section b 5.png" /></div></a>
        </div>
       
    </main>
</body>
</html>